<section class="phx-hero">
  <h1>Buzzer Game!</h1>
  <p>An app to use a buzzer with your friends online in real time!</p>
</section>

<section class="row">
  <%= link "Create a room", to: Routes.room_path(@conn, :new) %>
</section>

<section class="row">
  <%= link "Join a room", to: Routes.page_path(@conn, :join) %>
</section>
