<section class="phx-hero">
  <h1>Buzzer Game!</h1>
  <p>An app to use a buzzer with your friends online in real time!</p>
</section>

<section class="row">
  <%= link "Create a room", to: Routes.room_path(@conn, :new) %>
</section>

<%= form_for @conn, Routes.room_path(@conn, :join_by_nanoid), fn f -> %>
  <label>Join a Room ID</label>
  <%= text_input f, :nanoid %>
  <label>Name</label>
  <%= text_input f, :name %>
  <%= submit "Join" %>
<% end %>



